<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/png" href="{{urlpath}}/vw_static/vaultwarden-favicon.png">
    <title>Pagina niet gevonden!</title>
    <link rel="stylesheet" href="{{urlpath}}/vw_static/bootstrap.css" />
    <link rel="stylesheet" href="{{urlpath}}/vw_static/404.css" />
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 shadow fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{urlpath}}/"><img class="vaultwarden-icon" src="{{urlpath}}/vw_static/vaultwarden-icon.png" alt="V">aultwarden</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navigatie in-/uitschakelen">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
            </div>
        </div>
    </nav>

    <main class="container inner content text-center">
        <h2>Pagina niet gevonden!</h2>
        <p class="lead">Sorry, maar de pagina die u zocht kon niet worden gevonden.</p>
        <p class="display-6">
            <a href="{{urlpath}}/"><img class="vw-404" src="{{urlpath}}/vw_static/404.png" alt="Terug naar de web kluis?"></a></p>
        <p>U kunt <a href="{{urlpath}}/">terugkeren naar de web-kluis</a>, of <a href="https://github.com/dani-garcia/vaultwarden">contact met ons opnemen</a>.</p>
    </main>

    <div class="container footer text-muted content">Vaultwarden (onofficiële Bitwarden&reg; server)</div>
</body>
</html>